@model TestRepo.ViewModel.ViewModels.StudentViewModel.StudentViewModel
@{
    ViewBag.Title = "Import_Report";
}

<h2>Import Report:</h2>
@ViewBag.Errors
<br />
<td>
    @Html.ActionLink("View the list of Students.", "Index")

</td>
